{{ 'adv-product-grid.css' | asset_url | stylesheet_tag }}

<section id="adv-grid-{{ section.id }}" class="advance-product-grid">
 <div class="page-width">
    <div class="row g-5 px-4">
        {% for block in section.blocks %}
            {%- assign product = block.settings.product-sl -%}
            {% if product %}
            <div class="col-6 col-md-4 card-block-{{ block.id }}" {{ block.shopify_attributes }} >
                <div class="adv-product-card">
                    {% if product.featured_image %}
                     <img src="{{ product.featured_image | image_url: width: 800 }}" width="auto" height="auto" alt="{{ product.title }}" class="adv-product-img" >
                     <button class="hotspot-btn">
                        <img src="{{ section.settings.hotspot-icon | image_url: width: 100 }}" height="auto" width="auto" >
                     </button>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
 </div>
</section>
{% style %}
{% for block in section.blocks %}
 #adv-grid-{{ section.id }} .card-block-{{ block.id }} .hotspot-btn {
      top: {{ block.settings.hotspot-top }}%;
      left: {{ block.settings.hotspot-left }}%;
    
  }
  {% endfor %}
{% endstyle %}

<script src="{{ 'adv-product-grid.js' | asset_url }}" defer ></script>

{% schema %}
    {
        "name": "Advance Product Grid",
        "settings": [
        {
            "type": "image_picker",
            "id": "hotspot-icon",
            "label": "Hotspot Icon"
        },
        ],
        "blocks": [
            {
                "type": "product_block",
                "name": "Product",
                "settings": [
                    {
                        "type": "product",
                        "id": "product-sl",
                        "label": "Attach Product ",
                        "info": "Attach Product to show info"
                    },
                    {
                        "type": "header",
                        "content": "Hotspot Positions",
                        "info": "Adjust positions to point at product"
                    },
                    {
                        "type": "range",
                        "id": "hotspot-top",
                        "min": 5,
                        "max": 100,
                        "step": 1,
                        "label": "From Top ",
                        "default": 40
                    },
                    {
                        "type": "range",
                        "id": "hotspot-left",
                        "min": 5,
                        "max": 100,
                        "step": 1,
                        "label": "From Left ",
                        "default": 40
                    },

                ]
            },
        ],
        
        "presets": [
            {
            "name": "Advance Product Grid"
            }
        ]
    }
{% endschema %}
