{{ 'adv-product-grid.css' | asset_url | stylesheet_tag }}

<section id="adv-grid-{{ section.id }}" class="advance-product-grid">
 <div class="page-width">
    {% comment %} main product grid {% endcomment %}
    <div class="row g-5 px-4">
        {% for block in section.blocks %}
            {%- assign product = block.settings.product-sl -%}
            {% if product %}
            <div class="col-6 col-md-4 card-block-{{ block.id }}" {{ block.shopify_attributes }}>
                <div class="adv-product-card"  >
                    {% if product.featured_image %}
                     <img src="{{ product.featured_image | image_url: width: 800 }}" width="auto" height="auto" alt="{{ product.title }}" class="adv-product-img" >
                     <button data-target="modal-{{ block.id }}" class="btn-sl hotspot-btn">
                        <img src="{{ section.settings.hotspot-icon | image_url: width: 100 }}" height="auto" width="auto" >
                     </button>
                    {% endif %}
                </div>
            </div>

            {% comment %} Hideen Modal Containing Product Data {% endcomment %}
             <template id="modal-{{ block.id }}">
                {% comment %} upper row {% endcomment %}
                <div class="row">
                    {% comment %} img left part {% endcomment %}
                    <div class="col-5">
                        {% if product.featured_image %}
                        <div class="img-box">
                             <img src="{{ product.featured_image | image_url: width: 800 }}" width="auto" height="auto" alt="{{ product.title }}" class="adv-product-img" >
                        </div>
                      {% endif %}
                    </div>
                    {% comment %} content-right part {% endcomment %}
                     <div class="col-7 details-box d-flex flex-column align-items-start  ">
                        <h3 class="m-0 mt-2">{{ product.title }}</h3>
                        <p>{{ product.price | money_with_currency }}</p>
                        <div class="modal-description">
                            {{ product.description | strip_html }}
                        </div>
                     </div>
                </div>
                {% comment %} bottom part {% endcomment %}
                <div class="row modal-bottom">
                    <form method="post" action="{{ routes.cart_add_url }} " class="adv-modal-form" data-product-id="{{ product.id }}">
                        <input type="hidden" name="id" value="">
                        {%- for option in product.options_with_values -%}
                            <div class="mb-3">
                                <label>{{ option.name }}</label>
                            </div>
                        {%- endfor -%}

                    </form>
                </div>
             </template>
            {% endif %}
        {% endfor %}
    </div>
    {% comment %} overlay {% endcomment %}

    <div class="popup-overlay-sl"></div>

    {% comment %} pop up modal {% endcomment %}

    <div class="popup-modal-sl p-4">
        <div class="d-flex justify-content-end">
            <button class="btn-sl close-btn">
            <img src="{{ 'close-icon-sl.svg' | asset_url }}" width="auto" height="auto">
            </button>

        </div>
        <div class="popup-content">
            product data here
        </div>
    </div>
 </div>
</section>
{% style %}
{% for block in section.blocks %}
 .card-block-{{ block.id }} {
   --hotspot-top: {{ block.settings.hotspot-top }}%;
   --hotspot-left: {{ block.settings.hotspot-left }}%;
 }
  {% endfor %}
{% endstyle %}

<script src="{{ 'adv-product-grid.js' | asset_url }}" defer ></script>

{% schema %}
    {
        "name": "Advance Product Grid",
        "settings": [
        {
            "type": "image_picker",
            "id": "hotspot-icon",
            "label": "Hotspot Icon"
        },
        ],
        "blocks": [
            {
                "type": "product_block",
                "name": "Product",
                "settings": [
                    {
                        "type": "product",
                        "id": "product-sl",
                        "label": "Attach Product ",
                        "info": "Attach Product to show info"
                    },
                    {
                        "type": "header",
                        "content": "Hotspot Positions",
                        "info": "Adjust positions to point at product"
                    },
                    {
                        "type": "range",
                        "id": "hotspot-top",
                        "min": 5,
                        "max": 100,
                        "step": 1,
                        "label": "From Top ",
                        "default": 40
                    },
                    {
                        "type": "range",
                        "id": "hotspot-left",
                        "min": 5,
                        "max": 100,
                        "step": 1,
                        "label": "From Left ",
                        "default": 40
                    },

                ]
            },
        ],
        
        "presets": [
            {
            "name": "Advance Product Grid"
            }
        ]
    }
{% endschema %}
