{{ 'top-header-sl.css' | asset_url | stylesheet_tag }}


<section
  class="header-sl-{{ section.id }} color-{{ section.settings.color_scheme }}"
>
  {% comment %} Main Header Bar {% endcomment %}
  <div class="page-width menu-bar d-flex align-items-center section-{{ section.id }}-padding">
    {% comment %} menu button - for mobile {% endcomment %}
    <button id="menu-toggle" class="d-block d-md-none">
      <img
        id="menu-icon"
        src="{{ 'hamburger-sl.svg' | asset_url }}"
        alt="Menu"
        class=" "
        height="auto"
        width="auto"
      />
    </button>
    {% comment %} desktop header {% endcomment %}
    <div class="flex-grow-1 d-flex align-items-center justify-content-center justify-content-md-between">
      <a class="brand-name" href="{{ routes.root_url }}" >{{ section.settings.brand-name }}</a>
      <p class="bar-main-text d-none d-md-block">
        {{ section.settings.bar-text }}
      </p>
      <div class="d-none d-md-block">
        {% render 'button-sl' sst: section.settings, s_id: section.id %}
      </div>
    </div>
  </div>
  {% comment %} Mobile Menu Container {% endcomment %}
  <div class="mobile-menu  d-block d-md-none">
    <div class="page-width mobile-menu-inner">
        <p class="bar-main-text">
        mobile text testing here
      </p>
      {% render 'button-sl' sst: section.settings, s_id: section.id %}
      
    </div>
  </div>
</section>

<script>
  window.menuIcons = {
    open: "{{ 'menu-close-sl.svg' | asset_url }}",
    close: "{{ 'hamburger-sl.svg' | asset_url }}",
  };
</script>
<script src="{{ 'header-sl.js' | asset_url }}" defer></script>

 
{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}
 

 
{% schema %}
{ "name": "Top Header SL",
    "settings": [
        {
        "type": "text",
        "id": "brand-name",
        "label": "Brand Name",
        "default": "TISSON VISON"
        },
        {
        "type": "text",
        "id": "bar-text",
        "label": "Main Text",
        "default": "Find The Ideal Gift For Your Loved Ones"
        },
        {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
       },
       {  
        "type": "header",
        "content": "Button Settings",
       },
       {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#FFF544"
    },
    {
      "type": "color",
      "id": "bg_hover_color",
      "label": "Background Hover Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "text_hover_color",
      "label": "Text Hover Color",
      "default": "#fff"
    },
       {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
        },
      {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
      }
     ],
"presets": [
     { "name": "Top Header SL",
         "category": "Custom" } 
        ] 
    }
{% endschema %}
